
<div class="controls">
  <h2>Instrument {{instNo}}</h2>
  <p>
    <input type="range" id="amp{{instNo}}" step="1" value="1000" min="0" max="1000" data-scale="1000"> amplitude
    </p>
    <p>
      <input type="checkbox" id="cutoffEnabled{{instNo}}"> Enable Moog diode ladder emulation
    </p>
    <p>
      <input type="range" id="cf{{instNo}}" step="1" value="8000" min="100" max="8000" data-scale="1"> filter frequency
    </p>
    <p>
      <input type="checkbox" id="reverbEnabled{{instNo}}"> Enable "natural room" reverberation
    </p>
    <p>
        <input type="range" id="reverb{{instNo}}" step="1" value="0" min="0" max="5000" data-scale="1000"> Reverb
    </p>
    <p>
        <input type="checkbox" id="resonatorEnabled{{instNo}}"> Enable String Resonator
    </p>
    <p>
        <input type="range" id="resonatorFreq{{instNo}}" step="10" value="20" min="20" max="1000" data-scale="1"> String Resonator Frequency
    </p>
    <p>
        <input type="checkbox" id="feedbackEnabled{{instNo}}"> Enable Feedback (for the delay)
    </p>
    <p>
        <input type="range" id="feedbackRatio{{instNo}}" step="1" value="70" min="0" max="100" data-scale="100">Feedback Ratio for delay buffer
    </p>
        <p>
        <input type="checkbox" id="decimatorEnabled{{instNo}}"> Enable Decimator effect
    </p>
    <p>
        <input type="range" id="decimatorBitDepth{{instNo}}" step="1" value="8" min="2" max="8" data-scale="1">Bit Depth for Decimator Effect
    </p>
</div>
